.b-modal-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
}

.b-modal-wrapper--hidden {
    display: none;
}

.b-modal {
    position: relative;
    margin: auto;
    background: #000;
    border: var(--border-width) solid var(--bronse-color);
    color: var(--bronse-color);
    padding: 64px;
    display: none;
    max-width: calc(100vw - 32px);
}

.b-modal--opened {
    display: block;
}

.b-modal__header {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

.b-modal__subheader {
    font-size: 24px;
    margin-top: 24px;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 1025px) {
    .b-modal {
        padding: 40px;
    }

    .b-modal__header {
        font-size: 20px;
    }
    .b-modal__subheader {
        font-size: 14px;
        margin-top: 14px;
    }
}
