.b-modal-wrapper {
    display: flex;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .7);
}

.b-modal-wrapper--hidden {
    display: none;
}

.b-modal {
    display: none;
    position: relative;

    max-width: calc(100vw - 32px);

    margin: auto;
    padding: 64px;

    border: var(--border-width) solid var(--bronse-color);
    background: var(--black);

    color: var(--bronse-color);
}

.b-modal--opened {
    display: block;
}

.b-modal__header {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

.b-modal__subheader {
    margin-top: 24px;

    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 1025px) {

    .b-modal {
        padding: 40px;
    }

    .b-modal__header {
        font-size: 20px;
    }

    .b-modal__subheader {
        margin-top: 14px;

        font-size: 14px;
    }
}
