.b-player {
    position: absolute;
    z-index: 100;
    top: 16px;
    right: 16px;
    bottom: 16px;
    left: 16px;
    pointer-events: none;
}

.b-player__avatar {
    position: absolute;
    z-index: 1;

    width: 96px;
    height: 96px;

    border: var(--border-width) solid var(--bronse-color);
    background-color: var(--black);
}

@media (max-width: 1025px) {

    .b-player__avatar {
        width: 64px;
        height: 64px;
    }
}

.b-player__bar {
    position: absolute;
    top: 0;
    left: 82px;

    width: 256px;
    height: 24px;

    border: var(--border-width) solid var(--bronse-color);
    border-right: calc(2 * var(--border-width)) solid var(--bronse-color);

    transform: skewX(-45deg);
}

@media (max-width: 1025px) {

    .b-player__bar {
        left: 56px;

        width: 170px;
        height: 16px;
    }
}

.b-player__bar-progress {
    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    height: 100%;

    background-color: #ED1C24;

    transition: width .2s ease;
}
