@import url(http://fonts.googleapis.com/css?family=Press+Start+2P&subset=latin,cyrillic);

body {
    font-family: 'Press Start 2P', sans-serif;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.b-player {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 100;
}
.b-player__avatar {
    position: absolute;
    width: 96px;
    height: 96px;
    border: 4px solid #9f9571;
    background-color: #000;
    z-index: 1;
}
.b-player__bar {
    height: 16px;
    width: 256px;
    border: 4px solid #9f9571;
    border-right: 8px solid #9f9571;
    position: absolute;
    top: 0;
    left: 90px;
    transform: skewX(-45deg);
}

.b-player__bar-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: #ED1C24;
}

.b-player__health {

}
