@import url(http://fonts.googleapis.com/css?family=Press+Start+2P&subset=latin,cyrillic);
:root {
    --bronse-color: #9f9571;
    --black: #000;
    --border-width: 4px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.b-player {
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: 16px;
    left: 16px;
    z-index: 100;
    pointer-events: none;
}

.b-player__avatar {
    position: absolute;
    width: 96px;
    height: 96px;
    border: var(--border-width) solid var(--bronse-color);
    background-color: var(--black);
    z-index: 1;
}

.b-player__bar {
    height: 24px;
    width: 256px;
    border: var(--border-width) solid var(--bronse-color);
    border-right: calc(2 * var(--border-width)) solid var(--bronse-color);
    position: absolute;
    top: 0;
    left: 82px;
    transform: skewX(-45deg);
}

.b-player__bar-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: #ED1C24;
}

.b-player__health {}

.b-player__inventory {
    position: absolute;
    left: 0;
    bottom: 0;
}

.b-inventory {
    border: var(--border-width) solid var(--bronse-color);
    max-width: 408px;
}

.b-inventory__cell {
    width: 64px;
    height: 64px;
    border: var(--border-width) solid var(--bronse-color);
    margin: 8px;
    float: left;
    position: relative;
    overflow: hidden;
}

.b-inventory__cell.equipped::before {
    content: "";
    display: block;
    background: var(--bronse-color);
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px;
    right: -8px;
    transform: rotate(45deg);
}

.b-inventory__cell span,
.b-equip__cell span {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    background-image: url("../tiles/full_tileset_b.png");
}

span.i-short-sword {
    width: 18px;
    height: 32px;
    background-position: -481px -584px;
}

span.i-red-potion {
    width: 24px;
    height: 26px;
    background-position: -404px -513px;
}

.b-player__equip {
    position: absolute;
    bottom: 184px;
}

.b-equip {
    border: var(--border-width) solid var(--bronse-color);
    width: 232px;
    height: 232px;
}

.b-equip__cell {
    border: var(--border-width) solid var(--bronse-color);
    position: absolute;
    width: 64px;
    height: 64px;
}

.b-equip__cell--head {
    top: 8px;
    left: 0;
    right: 0;
    margin: auto;
}

.b-equip__cell--body {
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
}

.b-equip__cell--lhand {
    top: 80px;
    left: 8px;
}

.b-equip__cell--rhand {
    top: 80px;
    right: 8px;
}

.b-equip__cell--legs {
    top: 152px;
    left: 0;
    right: 0;
    margin: auto;
}
