@import url("http://fonts.googleapis.com/css?family=Press+Start+2P&subset=latin,cyrillic");
@import "variables.css";
@import "modals.css";
@import "player.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: "Press Start 2P", sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}

.b-player__inventory {
    position: absolute;
    bottom: 0;
    left: 0;
}

.b-inventory {
    max-width: 408px;

    border: var(--border-width) solid var(--bronse-color);
}

.b-inventory__cell {
    float: left;
    position: relative;

    overflow: hidden;

    width: 64px;
    height: 64px;

    margin: 8px;

    border: var(--border-width) solid var(--bronse-color);
}

.b-inventory__cell.equipped::before {
    content: "";

    display: block;
    position: absolute;
    top: -8px;
    right: -8px;

    width: 16px;
    height: 16px;

    background: var(--bronse-color);

    transform: rotate(45deg);
}

.b-inventory__cell span,
.b-equip__cell span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 0;
    height: 0;

    margin: auto;

    background-image: url("../tiles/full_tileset_b.png");
}

span.i-short-sword {
    width: 18px;
    height: 32px;

    background-position: -481px -584px;
}

span.i-red-potion {
    width: 24px;
    height: 26px;

    background-position: -404px -513px;
}

.b-player__equip {
    position: absolute;
    bottom: 184px;
}

.b-equip {
    width: 232px;
    height: 232px;

    border: var(--border-width) solid var(--bronse-color);
}

.b-equip__cell {
    position: absolute;

    width: 64px;
    height: 64px;

    border: var(--border-width) solid var(--bronse-color);
}

.b-equip__cell--head {
    top: 8px;
    right: 0;
    left: 0;

    margin: auto;
}

.b-equip__cell--body {
    top: 80px;
    right: 0;
    left: 0;

    margin: auto;
}

.b-equip__cell--lhand {
    top: 80px;
    left: 8px;
}

.b-equip__cell--rhand {
    top: 80px;
    right: 8px;
}

.b-equip__cell--legs {
    top: 152px;
    right: 0;
    left: 0;

    margin: auto;
}

.b-mobile-ui {
    position: absolute;
    z-index: 1;
    bottom: 16px;
    left: 16px;

    width: 136px;
    height: 136px;
}

@media (min-width: 1025px) {

    .b-mobile-ui {
        display: none;
    }
}

.b-mobile-ui__btn {
    position: absolute;

    width: 40px;
    height: 40px;

    margin: auto;

    border: var(--border-width) solid var(--bronse-color);
    background: var(--black);

    font-size: 32px;
    line-height: 32px;
}

.b-mobile-ui__btn::before,
.b-mobile-ui__btn::after {
    content: "";

    display: block;
    position: absolute;
    top: 8px;

    width: 4px;
    height: 14px;

    background-color: var(--bronse-color);

    transform: rotate(45deg);
}

.b-mobile-ui__btn::before {
    left: 10px;

    transform: rotate(45deg);
}

.b-mobile-ui__btn::after {
    right: 10px;

    transform: rotate(-45deg);
}

.b-mobile-ui__btn--up {
    top: 0;
    right: 0;
    left: 0;
}

.b-mobile-ui__btn--right {
    top: 0;
    right: 0;
    bottom: 0;

    transform: rotate(90deg);
}

.b-mobile-ui__btn--bottom {
    right: 0;
    bottom: 0;
    left: 0;

    transform: rotate(-180deg);
}

.b-mobile-ui__btn--left {
    top: 0;
    bottom: 0;
    left: 0;

    transform: rotate(-90deg);
}
